﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    margin:0px;
    padding:0px;
    line-height:18px;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    float:left;
    width:100%;
}
.top_header{
    float:left;
    width:100%;
    height:58px;
    background:#fff;
    position:relative;
    z-index:4;
    -moz-box-shadow: 2px 2px 5px 0px #6c3677;
    -o-box-shadow: 2px 2px 5px 0px #6c3677;
    -webkit-box-shadow: 2px 2px 5px 0px #6c3677;
            box-shadow: 2px 2px 5px 0px #6c3677;
		position:fixed;
}
.logo_admin{
    width:117px;
    float:left;
    margin-top:3px;}
.logo_admin img{
    width:105px;
}
.left_nav_f{
	position:fixed;
	}
.left_nav{
    float: left;
    width: 16.66666667%;
    overflow-y: auto;
    position: fixed;
    padding-top: 55px;
    height: 100vh;
   
}
.left_nav ul{
    margin:0px;
    padding:0px;
    float:left;
    list-style-type:none;
    width:100%;
	background:#ed3237;
}
.grid_tbl td a.fa-trash {
    background: #f00;
    padding: 5px 5px;
    color: #fff;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
}
.grid_tbl td a i.fa-trash {
    background: #f00;
    padding: 5px 5px;
    color: #fff;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
}

.left_nav ul li{
    float:left;
    width:100%;
 
    margin-bottom:1px;

}
.left_nav ul li a{
    float:left;
    padding:16px 0px 16px 45px;
    color:#fff;
    text-decoration:none;
    width:100%;
    position:relative;
    cursor: pointer;
    border-bottom: solid 1px #f1565a;
}

.noti{
   

border-radius: 50px;
padding: 0px 6px 0px 6px;
margin-left: 5px;
border: 1px solid #239628;
background-color: #fff;
color: #7E7777;
font-weight: 800;
}
.left_nav ul li a::after{
      content: "";
    position: absolute;
    border-left: solid 5px #D3EBFF;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}
.left_nav ul li a i{
    position:absolute;
    left:0px;
    top:0px;
    font-size:18px;
    text-align:center;
   
     width: 36px;
    height:100%;
    padding: 15px 0px;
     background:url(../images/side-bar-list-bg.png) top left;
    
}
.left_nav ul li ul{
    float:left;
    background: rgb(56, 56, 56);
    height:0px;
    transition:0.4s;
    overflow:hidden;

}
.left_nav ul li ul li{
    background:none;
}
.left_nav ul li ul li a{
          padding: 8px 0px 8px 40px;
    border-bottom: solid 1px #312f2f;
    color: white;
    font-size: 12px;
}
.left_nav ul li ul li a:hover{
    color:#fff;
}
.left_nav ul li ul li:last-child a{
    border:none;
}
.left_nav ul li ul li a::after{
    display:none;
}
/*.left_nav ul li.active_m ul{
    height:200px;
}*/
/***************page_contant*************/

.page_contant{
    float:left;
    width:100%;
    min-height:100vh;
	overflow-y:auto;
    box-shadow: 0px 0px 5px #404040;
    position:relative;
   /* z-index:4;*/
    padding:0px 0px 15px;
	margin-top:55px;
	
  
}
.page_name {
    float: left;
    width: 100%;
}
.page_name h2{
    margin:0px;
    padding:15px 0px;
    font-size:21px;

    
}
.page_box{
    float:left;
    width:100%;
    height:auto;
    background:#fff;
    box-shadow: 0px 0px 4px #8a5d71;
    padding:10px 0px;
    margin-bottom:20px;
}
.page_box p{
    float:left;
    width:100%;
    margin:0px;
}
.sep_box{
    float:left;
    width:100%;
    padding:20px 0px;
}
.sep_box h3{
	font-size: 19px;
    margin: 0px;
    padding-bottom: 15px;
	float:left;
	width:100%;
	}
.tbl_text{
    font-size:13px;
    float:left;
        padding-top: 9px;
}
.tbl_input{
    float:left;
    width:100%;
}
.tbl_input input[type="url"],.tbl_input input[type="number"],.tbl_input input[type="text"], .tbl_input input[type="password"], .tbl_input select, .tbl_input textarea{
    padding:9px 6px;
    border:solid 1px #E6E6E6;
    width:100%;
}
.submit_tbl{
    float:left;
    width:100%;

}
.submit_tbl .btn_button{
    float:left;
    border:none;
    padding:9px 14px;

     
}
.sub_btn{
    background:#519dc7;
    color:#fff;
}
.sub_btn:hover{
    background:#f9c5dc;
}
/***************page_contant*************/
/****************grid****************/
.grid_tbl{
    float:left;
    width:100%;
     border-top:solid 1px #6f6671;
        border-left:solid 1px #6f6671;

}
.grid_tbl th {
    padding: 9px 8px;
    background: #373435 ;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    border-right: solid 1px #6f6671;
    border-left: solid 1px #6f6671;
}
.grid_tbl td{
   padding: 6px 8px;
       border-right: solid 1px #6f6671;
    border-bottom: solid 1px #6f6671;
    color: #383838;
  
    
    
    font-size: 13px;
}
.grid_tbl td a{
	color:#16A1D8;
	text-decoration:none;}
	.grid_tbl td a i.fa-trash{
		background:#f00;
		padding:3px 0px;
		text-align:center;
		color:#fff;
		width:20px;
		height:20px;
		border-radius:70%;
		margin-right:5px;}
		.grid_tbl td a i.fa-pencil{
		background:#3CAF01;
		padding:3px 0px;
		text-align:center;
		color:#fff;
		width:20px;
		height:20px;
		border-radius:70%;}
.grid_tbl thead{
   border-left: solid 1px #5C93C1;
}
.grid_tbl tr:nth-child(2n+1){
    background:#f5f4f4;
}
.flashmsg{
    padding:10px;
    border:0px solid green;
    text-align:center;
   
    color:green;
}
.del_btn{
	background:#f00;
	border:none;
	padding:4px 8px;
	color:#fff;
	margin-bottom:8px;
	margin-right:4px;}
	.del_btn:hover{
		background:#C40101;}
	.sts_btn{
	background:#3CAF01;
	border:none;
	padding:4px 8px;
	color:#fff;
	margin-bottom:8px;}
	.sts_btn:hover{
		background:#2E8700;}
button{
	background: #2c2a2a;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;}
	body::-webkit-scrollbar{
width:10px;
background-color:#2b2929;
} 
	body::-webkit-scrollbar-thumb{
background-color:#2b2929;
border-radius:5px;
}
body::-webkit-scrollbar-thumb:hover{
background-color:#565555;
}
body::-webkit-scrollbar-thumb:active{
background-color:#565555;
} 
.left_nav::-webkit-scrollbar{
width:10px;
background-color:#ffffff;
} 
    .left_nav::-webkit-scrollbar-thumb{
background-color:#2b2929;
border-radius:5px;
}
.left_nav::-webkit-scrollbar-thumb:hover{
background-color:#565555;
}
.left_nav::-webkit-scrollbar-thumb:active{
background-color:#565555;
} 
.select_check{
	float: left;
    width: 100%;
    padding: 3px 8px;
    background: #F1F1F1;
    font-size: 13px;
    border-radius: 4px;
	}
	#firsttable td{
		padding:3px 3px;}
        .dash_box{
            float:left;
            width:100%;
            height:auto;
			margin-bottom:25px;
           
        }
        .dash_box h2{
           float: left;
    width: 100%;
    color: #fff;
    font-size: 14px;
    margin: 0px;
    padding: 9px 0px;
    text-align: center;
    
    border-radius: 0px 0px 9px 9px;
        }
       .dash_box .vd-btn{
        float:left;
        width:100%;
        padding:6px 0px;
        text-align: center;
        transition: background 0.3s;
        border-radius:9px 9px 0px 0px;
        color:#fff;
        text-decoration: none;
       }
       .dash_box_1 .vd-btn{
        background: #4CA91C;
       }
       .dash_box_1 .vd-btn:hover{
         background: #00182B;
       }
        .dash_box_2 .vd-btn{
        background: #00182B;
       }
       .dash_box_2 .vd-btn:hover{
        background: #00182B;
       }
        .dash_box_1{
            background: #587288;
        }
        .dash_box_1 h2{
            background: #2a465e;
        }
        .dash_box_2 h2{
            background: #024f57;
        }
         .dash_box_2{
            background: #4CAF50;
        }
      .dash_b_t{
        float:left;
        width:100%;
        text-align: center;
        color:#fff;
        font-size:20px;
        padding:30px 0px;
        font-weight:bold;
      }
      .dash_tbl_d{
        float:left;
        width:100%;
        border:solid 1px #E6E6E6;
        padding:4px 4px;
      }
       .dash_tbl_d h2{
        float:left;
        margin:0px;
        padding:10px;
        width:100%;
        font-size:16px;
        background:#5285B1;
        color:#fff;
       }
        .dash_tbl_d table{
            float:left;
            width:100%;
           margin-top:5px;
           margin-left:1px;
            padding:0px;
            
        }
        .dash_tbl_d table th{
           font-size: 14px;
    font-weight: 500;
            padding:8px 5px;
            background: #6A6F73;
            color:#fff;
             
        }
        .dash_tbl_d table tr:nth-child(even){
            background: #F3F3F3;
        }
        .dash_tbl_d table td{
            font-size:15px;
            padding:7px 5px;
            font-size:13px;
           
        }
        .dash_tbl_d table td a{
               padding: 3px 5px;
    background: #4CA91C;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    border-radius: 4px;
        }
        .v_all{
            float:left;
            width:100%;

        }
        .v_all a{
                float: right;
    padding: 4px 10px;
    /* border: solid 1px #ccc; */
    background: #2D7CBF;
    border-radius: 5px;
    font-size:12px;
    color: #fff;
    text-decoration: none;
    margin: 5px 5px 0px 0px;
        }
    .dash_b_t i{width:100%; float:left;}
	.das_i1{float:left; width:45%; text-align:right;}
	.das_i2{float:left; width:50%; text-align:left; padding-left:10px;}
		
@media screen and (max-width: 1366px){
.page_box{
    float:left;
    width:100%;
    height:auto;
    background:#fff;
    box-shadow: 0px 0px 4px #8a5d71;
    padding:10px 0px;
    margin-bottom:20px;
    border-radius: 8px;
}
.page_box p{
    float:left;
    width:100%;
    margin:0px;
    padding-left:20px;
        line-height: 27px;
}

.page_box p span{
  font-weight:800;
  color:#464444;
}
}

@media screen and (min-width: 1025px) and (max-width: 1214px)
{
	.menu-sm{display:none;}
}
@media screen and (max-width: 1024px){
	.left_nav_f{
	position:fixed;
	top:40px;
	z-index:999;}
.left_nav{
    float: left;
    /* width: 100%; */
    width: 250px;
    background: #1B78C7;
    overflow-y: auto;
    position: fixed;
	left:-250px;
	z-index:999;
	transition:0.4s;
}

.menu-sm{
	float: left;
    margin-top: 13px;
    cursor: pointer;
    margin-right: 20px;
	}
	.menu-sm i{
	  font-size: 25px;
     color: rgb(101, 100, 100);
	 padding-left: 10px;
	 }

.active_mm{
	left:0px!important;
	transition:0.4s;
	}
	.page_box {
    float: left;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 4px #C1C1C1;
    padding: 10px 0px;
    margin-bottom: 20px;
    overflow-x: auto;
}

}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 9997;
    display: none;
}
.inactive_data{
    position: absolute;
    width:350px;
    height:auto;
    background: #fff;
    z-index: 9998;
    top:15%;
    left:50%;
    transform: translateX(-50%);
    display: none;
}
.inactive_data h3{
    margin:0;
    padding:10px 8px;
    float:left;
    width:100%;
    font-size:18px;
    border-bottom: solid 1px #ccc;

}
.inactive_data .input_data{
    padding:10px 10px;
    float:left;
    width:100%;
    cursor: pointer;

}
.inactive_data .input_data .submit{
    float:left;
    border:none;
    background:#ca3045;
    color:#fff;
    padding:8px 12px;
    margin-right:8px;
}
.inactive_data .input_data .cancel_b{
    float:left;
    border:none;
    background:#444;
    color:#fff;
    padding:8px 12px;
    text-decoration:none;
}
.inactive_data .input_data textarea{
    float:left;
    width:100%;
    padding:5px;
    border: solid 1px #ccc;
    min-height:100px;
}
.add_coment_canc {
    position: fixed;
    background: #fff;
    padding: 20px 20px;
    z-index: 9998;
    left: 50%;
    top: 25%;
    width: 300px;
    margin-left: -150px;
    border-radius: 10px;
}
.add_coment_canc textarea {
    padding: 10px 9px;
    width: 100%;
    border: solid 1px #E5E5E5;
    float: left;
    margin-right: 5px;
}
.comen_su {
    float: left;
    background: #00518C;
    color: #fff;
    padding: 7px 12px;
    text-decoration: none;
    margin: 15px 0px 0px 57px;
}
.comen_ca {
    float: left;
    background: #4EA1DE;
    color: #fff;
    padding: 7px 12px;
    text-decoration: none;
    margin: 15px 0px 0px 7px;
}
.pagi_nation{
float:left;
width:100%;
text-align:center;}
.newli strong{
float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    border: 1px solid #ddd;}
	
.marg-top{margin-top:5px;}
.d_box{/*height:217px;*/}
.das_box{ float: left; width: 100%;}
.dash_b_t1{
 /*   padding: 68px 0px;*/
    }
.dash_box_3 h2{background:#239628;}
.dash_box_3 .vd-btn{background:#0F6512;}
.dash_box_4 h2{background:#215B65;}
.dash_box_4 .vd-btn{background:#0C2A2F;}
.d_box_2 {background: #373435;}
.dash_box_04{background: #4CAF50;}
.dash_box_5{background: #21464C;}
.d_box_2 .vd-btn{background:#4e4e4e;}
.dash_box_003 h2{background:#ed3237;}


.page_box1 {
    float: left;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 4px #8a5d71;
    margin-bottom: 20px;
}
.retailersmain
{
    width: 100%;
    float:left;
    background: #e0e0e0;
    border-bottom: #bdbdbd solid 1px;
}

.retailersmain h4
{
    width:100%;
    float:left;
    padding: 10px 10px;
    color: #696969;
}
.retailerid
{
  width:100%;
  float:left;
  padding: 30px 0px;
}
.retailerid .retaileroptic
{
    width: 100%;
    float: left;
    height: auto;
    background: #000;
    border: #b7b7b7 solid 3px;
}
.retailerid .retaileroptic img
{
    width:100%;
}
.retailertext
{
    width:100%;
    float:left;
    padding: 10px 0px;
}
.r-main
{
  width: 100%;
  float:left;
}
.retailertext .r-main .r-id
{
   width:100%;
   float:left;
   color:#cc183f;
   text-align: center;
    font-size: 19px;
}
.retailertext .r-main .name
{
    width:100%;
   float:left;
   color:#cc183f;
   font-size: 19px;
}
.r-main-n
{
  width: 100%;
  float:left;
  padding: 10px 0px;
}
.retailertext .r-main-n .r-name
{
   width:100%;
   float:left;
   color:#000;
   text-align: center;
    font-size: 19px;
}
.retailertext .r-main-n .rr-name
{
    width:100%;
   float:left;
   color:#000;
   font-size: 19px;
}
.kyc_scroll
{
  width: 100%;
  float: left;
  max-width: 190px;
}
.kyc_scroll ul.li_box_p
{
    list-style: none;
    list-style: none;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    padding:0;
    float: left;
    width: 100%;
}

.kyc_scroll ul li.li_box
{
        display: inline-block;
    min-width: 164px;
    background: #ffffe0;
    padding: 4px 4px;
    margin-right: 5px;
}
.image_sec{
    float:left;
    max-width:65px;
    max-height:90px;
    margin-right:8px;
}
.image_sec img{
    max-width:100%;
    max-height:100%;
}
.div_btn{
    float:left;
    max-width:80px;
    padding-top:6px;

}
.div_btn a{
    float:left;
    width:100%;
    text-decoration:none;
    padding:3px 0;
   background: #36c314;
    text-align: center;
    margin-bottom:4px;
    color:#fff;
    cursor: pointer;
}
.div_btn a + input + a{
    background: #676565;
}
.div_btn a + input + a + a{
    background: #000;
}
.min_height{
    min-height:165px;
}
.a_tag a{
    padding:3px 5px;
    
    background:#f00;
    color:#fff;
    text-decoration: none;
}
.a_tag{
    float:left;
    width:100%;
    padding-bottom: 8px;
}
.pass_sign{
    position: absolute;
    padding:8px 8px;
    background: #f5f5f5;
    left:105%;
       min-width: 260px;
    top: -23px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    border:solid 1px #ececec;


}
.pass_sign:before{
    content: "";
    position: absolute;
    border-right:solid 12px #ececec;
    border-top:solid 13px transparent;
    border-bottom:solid 13px transparent;
    left:-12px;
    top:25px;
}
.pass_sign span{
    float:left;
    width:100%;
    padding:5px 0;
    position: relative;
}
.pass_sign span.right_sign:before{
    position: absolute;
    width:20px;
    height:20px;
    background: green;
    content: "";
    right:5px;
    top:5;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}
.pass_sign span.right_sign:after{
    position: absolute;
    width: 13px;
    height: 7px;
    border-left: solid 2px #fff;
    border-bottom: solid 2px #fff;
    content: "";
    right: 9px;
    top: 10px;
    transform: rotate(-49deg);
}
.pass_sign2{
    position: relative;
    padding:8px 8px;
    background: #f5f5f5;
    float:left;
     min-width: 260px;
      -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    border:solid 1px #ececec;
    margin-top:15px;


}
.pass_sign2:before{
    content: "";
    position: absolute;
    border-bottom:solid 12px #ececec;
    border-left:solid 13px transparent;
    border-right:solid 13px transparent;
    left:12px;
    top:-12px;
}
.pass_sign2 span{
    float:left;
    width:100%;
    padding:5px 0;
    position: relative;
}
.pass_sign2 span.right_sign:before{
    position: absolute;
    width:20px;
    height:20px;
    background: green;
    content: "";
    right:5px;
    top:5;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}
.pass_sign2 span.right_sign:after{
    position: absolute;
    width: 13px;
    height: 7px;
    border-left: solid 2px #fff;
    border-bottom: solid 2px #fff;
    content: "";
    right: 9px;
    top: 10px;
    transform: rotate(-49deg);
}

.docs-pictures {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.docs-pictures ul{
    list-style:none !important;
}
.docs-pictures ul li{
    list-style:none !important;
}
.docs-pictures ul li img{
    width:200px;
    height:252px;
}

.table_scroool{ width: 100%;
   overflow-y: scroll;
    float: left;
    max-height: 300px;
        background-color: #fff;
    padding: 24px 0px 24px 0px;
    border-radius: 8px;
    margin-bottom: 31px;}

.submit_butt{background-color: #2196f3;
    padding: 13px 30px 13px 30px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;}

.thumb-adjustment {text-align: center;font-size: 200px;padding: 10px 0;color: #d41920;}

.retailer_btn {
    outline: none;
    border: 0;
    padding: 10px 25px;
    background: #ed3237;
    color: #FFF;
}

.active_color {
    background: #ed3237 !important;
    color: #FFF !important;
}