*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html { min-width: 940px; font-size: 15px; }
body { font-family: 'HelveticaNeue45Light'; font-size: 15px; margin: 0; background: #fff; color: #222; }
.inner { margin: 0 auto; }
.imw1024 { max-width: 1024px; margin: 0 auto; padding: 0 20px; }
h1, h2, h3, h4, h5, h6, h7 { font-weight: normal; }
/* font converted using font-converter.net. thank you! */
@font-face { font-family: 'HelveticaNeue65Medium'; src: url('../fonts/HELVETICANEUE-MEDIUM.eot'); /* IE9 Compat Modes */ src: url('../fonts/HELVETICANEUE-MEDIUM.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/HELVETICANEUE-MEDIUM.woff2') format('woff2'), /* Modern Browsers */ url('../fonts/HELVETICANEUE-MEDIUM.woff') format('woff'), /* Modern Browsers */ url('../fonts/HELVETICANEUE-MEDIUM.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/HELVETICANEUE-MEDIUM.svg') format('svg'); /* Legacy iOS */ font-weight: normal; font-style: normal; }
/* font converted using font-converter.net. thank you! */
@font-face { font-family: 'HelveticaNeue45Light'; src: url('../fonts/HELVETICANEUE-LIGHT.eot'); /* IE9 Compat Modes */ src: url('../fonts/HELVETICANEUE-LIGHT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/HELVETICANEUE-LIGHT.woff2') format('woff2'), /* Modern Browsers */ url('../fonts/HELVETICANEUE-LIGHT.woff') format('woff'), /* Modern Browsers */ url('../fonts/HELVETICANEUE-LIGHT.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/HELVETICANEUE-LIGHT.svg') format('svg'); /* Legacy iOS */ font-weight: normal; font-style: normal; }
/* font converted using font-converter.net. thank you! */
.fltL { float: left; }
.fltR { float: right!important; }
.center { text-align: center; }
.clr { clear: both; }
strong { font-weight: bold; }
a { text-decoration: none; color: inherit; }
p { line-height: 1.5em; margin: 1em 0; }
.nav { margin-top: 75px; }
nav { position: relative; top: 0; left: 0; width: 100%; height: 4em; padding: 1em 0; box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.4); background: #fff; color: #000; overflow: visible; z-index: 2; }
nav h1 { margin: 0; }
/*nav input#navTrigger { display: none; }
nav input#navTrigger + label { float: right; padding: 0 .25em; margin: -0.25em 0; font-size: 2em; border: 1px solid; opacity: 0.5; cursor: pointer; }
nav input#navTrigger + label:hover { opacity: 1; }
nav input#navTrigger + label span { display: block; -webkit-transition: all 0.2s; transition: all 0.2s; margin-top: -.1em; }
nav input#navTrigger:checked + label span { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); margin-right: -.1em; }
nav ul { display: none; position: absolute; top: 3em; left: 0; right: 0; padding: 0; }
nav ul li { display: block; }
nav ul li a { display: block; padding: 1.333em; background: #0051a3; background: rgba(0, 60, 154, 0.9); border: 1px solid rgba(255, 255, 255, 0.5); border-width: 0 0 1px 0; color: #fff; outline: 0; }
nav ul li a:hover { border-bottom: 4px solid #ed1c24; }
nav ul li:first-child a { border-width: 1px 0; }
nav input#navTrigger:checked ~ ul { display: block; } */
/* Responsive styles */
html { min-width: 320px; }
.banner img { width: 100%; }
/*sticky header css*/
.NgageLogo { background: url(../images/ngage-logo-big1.png) no-repeat 0 0 / 220px 92px; text-indent: -99999em; width: 220px; height: 92px; display: inline-block; // set animation -webkit-transition: all 0.4s ease;
transition: all 0.4s ease; }
.NgageLogo.sticky1 { background: url(../images/ngage-logo-big2.png) no-repeat 0 6px / 150px 63px; text-indent: -99999em; width: 150px; height: 63px; display: inline-block; }
.sticky ul { margin-top: 30px; }
.inner.ngageIntro { color: #58595b; text-align: center; }
.inner.ngageIntro > img { }
.inner.ngageIntro > h2 { font-size: 28px; }
.ngageOption { list-style: outside none none; margin-top: 40px; padding: 0px; }
.ngageOption > li { float: left; width: 25%; }
.ngageOption p { color: #000; font-size: 18px; margin: 0; }
.howtoworkBlk h1 { font-size: 38px; margin-top: 0px; padding: 40px 0 0 0; text-align: center; }
.howtoworkBlk { text-align: center; }
/*Paralax CSS Start*/
section.module:last-child { margin-bottom: 0; }
section.module p:last-child { margin-bottom: 0; }
section.module.content { padding: 40px 0; }
section.module.parallax { background-position: 50% 50%; background-repeat: no-repeat; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
section.module.parallax-1 { background-image: url("../images/howitwork-bg.jpg"); }
section.module.parallax-2 { background-image: url("../images/contactus-bg.jpg"); }
/*Paralax CSS end*/

.slide p { font-size: 18px; margin: 0px 0 10px 0; display: block; padding: 0; text-align: center; font-family: 'HelveticaNeue65Medium'; }
.beganExperience { background-color: #fff; }
.beganExperience h1 { font-size: 38px; margin: 0px 0 10px 0; padding: 0px 0 0 0; text-align: center; }
.beganExperience .bx-wrapper .bx-next:hover { opacity: 1; }
/*
.beganExperience .bx-wrapper .bx-next { right: -3%; opacity: 0.4; }
.beganExperience .bx-wrapper .bx-prev { left: -3%; opacity: 0.4; }
.beganExperience .bx-wrapper .bx-prev:hover { left: -3%; opacity: 1; }*/
#section-3 .beganExperience .inner { padding: 3em 0 0; }
.beganExperience .bx-viewport { min-height: 480px; }
.becomepartBlk { }
.becomepartBlk p { text-align: center; }
.becomepartBlk h1 { font-size: 38px; margin: 0px 0 10px 0; padding: 30px 0 0 0; text-align: center; }
.becomepartBlk > p { font-size: 16px; padding: 10px 0 0 0; margin: 0px; text-align: center; }
.contactBlk h1 { font-size: 38px; margin: 0px 0 10px 0; padding: 30px 0 0 0; text-align: center; }
.becomepartBlk .parallax-window1 > p { font-size: 16px; padding: 10px 0 0 0; margin: 0px; text-align: center; }
.becomepartBlk ul { list-style: outside none none; padding: 2% 10%; }
.becomepartBlk ul li { float: left; text-align: center; width: 25%; }
.becomepartBlk ul p { margin: 5px 0 10px; font-family: 'HelveticaNeue65Medium'; }
.becomepartBlk .contactOption { list-style: outside none none; margin-top: 40px; color: #58595b; }
.contactBlk { background: url(../images/contact-bg-texture.jpg) repeat; border-top: 5px solid #dc1a21; }
.contactBlk .contactOption { list-style: outside none none; padding: 2% 10%; }
.contactBlk .contactOption > li { float: left; width: 33.3%; text-align: center; }
.contactBlk .contactOption p { color: #000; font-size: 16px; margin: 0; color: #58595b; }
.contactBlk .contactOption h1 { font-size: 38px; margin-top: 0px; padding: 40px 0 0 0; text-align: center; }
.contactBlk .contactOption h2 { font-family: 'HelveticaNeue65Medium'; font-size: 20px; margin: 10px 0 0px; }
.contactBlk .contactOption a { text-decoration: underline; }
.contactBldg { width: 100%; }
.mobInput { }
.imw10p { text-align: left; width: 10%; }
.inputBtdbtm .ui-input-text { border-color: #939598; border-style: solid; border-width: 0 0 1px; float: left; margin: 0 0 0 2%; width: 88%; }
.contactForm input { position: relative; z-index: 200; border-color: currentcolor; background: transparent; border-radius: 0; border-style: none none solid; border-width: 0 0 1px; color: #333; font-size: 14px; padding: 4% 2% 2% 0; width: 90%; }
.icnImgLeft { margin-top: 14px; }
.whiteBG { background: url(../images/white-bg.png) repeat; border-radius: 10px; margin: 0 auto; padding: 2%; }
.notIE { display: inline-block; overflow: hidden; position: relative; width: 90%; }
.contactForm select { background: transparent; border-color: #939598; border-style: solid; border-width: 0 0 1px; color: #222;font-family: 'HelveticaNeue45Light'; display: inline-block; outline: medium none; padding: 5% 2% 2% 0; width: 110%; font-size: 16px; }
.notIE .fancyArrow { background: transparent url("../images/dd-arrow.png") no-repeat scroll right center / 90% auto; display: inline-block; height: 51px; padding-right: 0; pointer-events: none; position: absolute; right: 0px; top: 0px; width: 23px; }
.fancyArrow{ background: transparent url("../images/dd-arrow.png") no-repeat scroll right center / 90% auto; display: inline-block; height: 51px; padding-right: 0; pointer-events: none; position: absolute; right: 68px; top: 3px; width: 23px; }
.btnRed { background: #ed1c24; border: 0 none; border-radius: 50px; color: #fff; cursor: pointer; display: inline-block; font-size: 20px; margin-right: 0; padding: 10px 70px; text-align: center; text-decoration: none; }
.contactForm .inputName, .contactForm .SelCountry { float: left; width: 45%; position: relative; }
.contactForm .inputEmail, .contactForm .inputMobile { float: right; width: 45%; position: relative; }
.immrt20 { margin-top: 20px; }
.footerLink { float: left; list-style: outside none none; margin: 0; padding: 0; position:relative; z-index:200; }
.footerLink > li { display: inline-block; }
.logoInfinia { display: inline-block; float: right; }
.copyright { left: 0; position: absolute; text-align: center; width: 100%; }
.footer { position: relative; margin-top: 20px; }
/*tabier css start*/
.tabs-menu { padding: 20px 0 0 0!important; margin: 0px; text-align: center; }
.tabs-menu li { height: 38px; line-height: 30px; float: none!important; display: inline-block; }
.tabs-menu li.current { position: relative; background-color: transparent; border-bottom: 4px solid #ed1c24; z-index: 5; }
.tabs-menu li a { text-transform: uppercase; color: #000; text-decoration: none; font-family: 'HelveticaNeue65Medium'; }
.tabs-menu .current a { color: #000; }
.tab { width: auto; }
.tab-content { min-height: 250px; padding: 0px 20px; display: none; }
#tab-1 { display: block; text-align: center; }
#tab-1 .whiteBG > p { text-align: center; padding-top: 6%; }
#tab-1 .whiteBG > input { border: 1px solid; padding: 10px; width: 200px; text-align: center; }
.resendOtp { color: #ed1c24; float: left; margin-top: 10px; text-align: center; text-decoration: underline; width: 100%; }
.chooseFileBlk { margin-top: 15px; margin-bottom: 5px; }
.chooseFile input[type="file"] { display: none; }
.chooseFile .custom-file-upload { background: #000; border: 0 none; border-radius: 100px; color: #fff; cursor: pointer; display: inline-block; padding: 2px 12px; margin-left: 10px; }
#tab-2 .chooseFile { display: inline-block; width: 33%; }
/*.contactForm .inputName > label, .contactForm .inputEmail > label { position: absolute; top: 20px; left: 42px; z-index: 100; }*/
.contactForm .inputName > label em, .contactForm .inputEmail > label em { color: red; font-style: normal; }
#tab-3 .inputName > label, #tab-3 .inputEmail > label { left: 0px!important; }
/*go to top button on all pages*/
.top { bottom: 30px; position: fixed; right: 30px; width: auto; z-index: 1000; }
.top a { background: url(../images/ico-go-to-top.png) no-repeat 0 0; height: 38px; float: left; text-indent: -999999px; width: 38px; z-index: 1; }
#section-1 .inner { padding: 0em 0 0em 0; }
#section-2 .inner { padding: 7em 0; }
#section-3 .inner { padding: 5em 0 0em 0; }
#section-3 .becomepartBlk .inner { padding: 1em 0 5em 0; }
#section-4 .inner { padding: 4em 0 6em 0; }
#section-5 .inner { padding: 6em 0 0em 0; }
/*go to top button on all pages*/
.tab .whiteBG { min-height: 300px; }
#ConfirmDiv .whiteBG { min-height: 300px; margin: 145px 20px 35px; }
#ConfirmDiv h2 { font-size: 18px; text-align: center; margin-top: 85px; }
/*tabier css end*/
.slicknav_menu { display: none; }
.loginBlk { background: url(../images/white-bg.png) repeat; width: 100%; top: 8em; height: 200px; margin: 0 auto; padding: 2%; position: fixed; z-index: 200; }
.footerLink > li { border-right: 1px solid #999; margin-right: 8px; padding-right: 10px; }
.footerLink .brdNone { border: none!important; }
.customerBlk { background: url(../images/partner-bg.jpg) no-repeat center top; }
.customerBlk h1 { font-size: 38px; margin: 0px 0 10px 0; padding: 0px; text-align: center; }
.customerBlk p { font-size: 16px; padding: 10px 0 0 0; margin: 0 0 35px; text-align: center; }
.existPartner { margin: 0; padding: 10px 0!important; }
.existPartner > li { float: left; background: #fff; border: 1px solid #939598; border-radius: 10px; overflow: hidden; margin: 0 2% 2% 0; width: 23.5%; }
.existPartner .partInfo { background: #e6e7e8; padding: 10px 5px; }
.existPartner .partInfo > h2 { color: #ed1c24; font-size: 20px; margin: 0; padding: 0; text-align: center; }
.existPartner .partInfo > p { font-size: 14px; margin: 0; padding: 0; text-align: center; }
.existPartner img { width: 100%; }
.customerBlk .inner { padding: 3em 0!important; }
.immr0 { margin-right: 0px!important; }

@media only screen and (max-width: 768px) {
.contactForm .inputName > label, .contactForm .inputEmail > label { left: 30px; top: 13px;}
#tab-2 .chooseFile { text-align: center; width: 32%; }
.chooseFile div { margin-bottom: 5px; text-align: center; width: 100%; }
#ConfirmDiv { padding: 4em 0 6em!important; margin: 0px auto; }
#ConfirmDiv .whiteBG { margin-top: 50px; }
nav .imw1024 { max-width: 100%; }
.footer.inner.imw1024 { max-width: 100%; }
.footerLink { float: none; text-align: left; margin: 0 0 10px }
.copyright { position: relative; text-align: left; width: 50%; }
.logoInfinia { position: relative; top: -28px; }
nav { position: absolute; }
#nav { display: none; }
.slicknav_menu { display: block; }
#menu-infiexp { display: none; }
#section-1 .inner { padding: 4em 0 3em; }
#section-2 .inner { padding: 3em 0; }
#section-3 .inner { padding: 0em 0 0 0; }
#section-3 .inner > img { width: 100%; }
#section-4 .inner { padding: 0em 0 3em 0; }
#section-5 .inner { padding: 2em 0 0em 0; }
/* Mobile Menu Core Style */
.slicknav_btn { position: relative; display: block; vertical-align: middle; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: right; position: relative; top: 5px; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { border-radius: 1px; display: block; height: 4px; width: 2em; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 4px; }
.slicknav_nav { clear: both }
.slicknav_nav ul, .slicknav_nav li { display: block; border-top: 1px solid #ddd; margin-top: -1px; }
.slicknav_nav .slicknav_arrow { float: right; margin: 0; position: relative; top: -3px; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before, .slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both } /* IE6/7 support */
.slicknav_menu { *zoom: 1
} /*  User Default Style Change the following styles to modify the appearance of the menu. */
.slicknav_menu { font-size: 16px; } /* Button */
.slicknav_btn { margin: 5px 5px 20px 0; text-decoration: none; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; text-indent: 8px; } /* Button Text */
.slicknav_menu .slicknav_menutxt { display: none; color: #FFF; font-weight: normal; text-shadow: 0 1px 3px #000; } /* Button Lines */
.slicknav_menu .slicknav_icon-bar { background-color: #666; }
.slicknav_menu { position: absolute; width: 100%; z-index: 100; }
.slicknav_nav { color: #17457d; font-size: 0.875em; margin: 0; padding: 0; position: absolute; top: 60px; width: 100%; }
.slicknav_nav, .slicknav_nav ul { list-style: none; overflow: hidden; background-color: #ed1c24; }
.slicknav_nav ul { padding: 0; margin: 0 0 0 0px; }
.slicknav_nav .slicknav_row { padding: 10px; margin: 0px 0px; }
.slicknav_nav a { padding: 10px; margin: 0px; text-decoration: none; color: #fff; text-transform: uppercase; text-align: left; }
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a { padding: 0; margin: 0; }
.slicknav_nav .slicknav_row:hover a { color: #222; }
.slicknav_nav a:hover { background: #fff; color: #222; text-decoration: none; }
.slicknav_nav .slicknav_txtnode { margin-left: 15px; }
.slicknav_item.slicknav_row > a { border-top: none; }
.nav { margin-top: 15px; }
.inner { max-width: 100%; }
.imw1024 { max-width: 90%; margin: 0 auto; }
nav .inner { max-width: 95%; margin: 0 auto; padding: 0px; }
nav ul li a { padding: 8px; background: rgba(38, 38, 38, 0.9); border-bottom: 1px solid #666; }
nav ul li a:hover { border-width: 0 0 0 0px; background: rgba(209, 46, 46, 0.9); }
.NgageLogo { background: url(../images/ngage-logo-big2.png) no-repeat 0 0 / 150px 63px; text-indent: -99999em; width: 150px; height: 63px; display: inline-block; // set animation -webkit-transition: none;
top: -7px; left: -15px; position: relative; }
.NgageLogo.sticky1 { background: url(../images/ngage-logo-big2.png) no-repeat 0 0 / 150px 63px; text-indent: -99999em; width: 150px; height: 63px; display: inline-block; }
.beganExperience .bx-wrapper .bx-next { right: 10px; opacity: 0.4; }
.beganExperience .bx-wrapper .bx-prev { left: 10px; opacity: 0.4; }
.slide { margin: 0 10px!important; }
.icnImgLeft { width: 90%; }
.beganExperience h1, .howtoworkBlk h1, .becomepartBlk h1, .contactBlk h1, .customerBlk h1 { font-size: 28px; }
.ngageOption p { font-size: 14px; }
.contactBlk .contactOption { padding: 2%; }
.becomepartBlk ul { padding: 2% 0%; }
.contactBlk .contactOption p { font-size: 14px; }
.contactBlk .contactOption h2 { font-size: 16px; }
.inner.ngageIntro > h2 { font-size: 20px; }
.inner.imw1024.ngageIntro > img { width: 250px; }
.existPartner .partInfo > h2 { font-size: 16px; }
.customerBlk .inner { padding: 6em 0!important; }
}

@media only screen and (max-width: 480px) {
.beganExperience h1, .howtoworkBlk h1, .customerBlk h1, .becomepartBlk h1, .contactBlk h1 { font-size: 20px; font-family: 'HelveticaNeue65Medium'; }
.inner.ngageIntro > h2 { font-size: 16px; }
.inner.imw1024.ngageIntro > img { width: 200px; }
.beganExperience .bx-viewport { min-height: 360px; }
.existPartner .partInfo > h2 { font-size: 14px; }
.existPartner > li { width: 47.5%; }
.becomepartBlk ul li { height: inherit; padding-bottom: 5px; width: 30%; }
.tabs-menu li { height: 48px; line-height: inherit; }
.tabs-menu li a { font-size: 12px; }
.contactForm .inputName, .contactForm .SelCountry, .contactForm .inputEmail, .contactForm .inputMobile { width: 100%; }
#tab-2 .chooseFile { display: inline-block; width: 100%; margin-bottom: 10px; }
.tabs-menu li { height: inherit!important; width: 28%!important; }
}

@media only screen and (max-width: 360px) {
.ngageOption > li { width: 50%; height: 170px; }
.becomepartBlk ul li { width: 50%; height: 110px; }
.contactBlk .contactOption > li { width: 100%; margin-bottom: 20px; }
.contactForm .inputName, .contactForm .SelCountry, .contactForm .inputEmail, .contactForm .inputMobile { width: 100%; }
.contactForm { padding: 5%; }
.footerLink > li { display: block; }
.footerLink > li { border-right: 0px solid #999; margin-right: 0px; padding-right: 0px; }
.contactForm .inputName > label, .contactForm .inputEmail > label { font-size: 13px; left: 26px; top: 11px; }
}

@media only screen and (min-width: 769px) {
nav.sticky { position: fixed; height: 4em; padding: 0; }
nav { height: 8em; -webkit-transition: all 0.2s; transition: all 0.2s; }
nav ul { display: block; float: right; margin: 0em 0 0; }
nav ul li { display: block; position: relative; float: left; }
nav ul li a { display: block; text-transform: uppercase; font-family: 'HelveticaNeue65Medium'; padding: 0 1em; height: 2em; font-size: 1em; background: none; color: #000; border: 0; }
nav ul li a.active, nav ul li a:hover { border-bottom: 4px solid #ed1c24; }
#menu-infiexp ul { display: none; }
#menu-infiexp li:hover > ul { display: block; position: absolute; width: 190px; left: 0px; z-index: 500; }
#menu-infiexp li ul { display: none; padding: 0px; margin: 0px; }
#menu-infiexp li:hover li { float: none; }
#menu-infiexp li:hover a { border-bottom: 0px solid #ed1c24; }
#menu-infiexp li:hover ul li a { background: #fff; color: #666; line-height: 3em; height: 3em; }
#menu-infiexp li:hover li a:hover { background: #ed1c24; border-bottom: 0px; color: #fff; }
#wrapper { position: relative; z-index: 1; }
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0px!important;
    outline: -webkit-focus-ring-color auto 0px!important;
}
.input_lbl{position: relative;}
.input_b + label{
	position: absolute;
	top: 22px;
    left: 44px;
    transition: 0.3s;

}
.required_t{
	color:#f00;
	font-size:18px;
}
.input_b + label.active{
	top: 0px;
	color:#828282;
}

.select-box{ width:60% !important; float:left; 
        border-bottom: 1px solid #000 !important;}